<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>remindr</display-name>

	<!-- Servlet config -->

    <servlet>
        <servlet-name>Root</servlet-name>
        <servlet-class>com.remindr.controller.RootController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Root</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.remindr.controller.HelloWorldController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>hello</url-pattern>
	</servlet-mapping>

	<!-- additional config -->

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<error-page>
		<location>/errors</location>
	</error-page>
</web-app>