.container-vertical-content-outer {
	position: relative;
}

.container-vertical-content-inner {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.button {
	background-color: #6A1B9A;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.button:hover {
	opacity: 0.8;
}