body {
	background-image:
		url("../../../assets/image/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.index-container {
	height: 100vh;
	background-color: rgba(52, 52, 52, 0.05);
}

.index-text {
	font-family: Avenir !important;
	color: #8E24AA !important;
	font-size: 16px;
}

a {
	text-decoration: none;
}